<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Lista de productos'}) %>

<body>

    <%- include('partials/header') %>
    
    <%- include('partials/slider') %>
    

    <div class="container juegos-container generos">
    
        <%- include('partials/aside') %>

      <section class="juegos-container__all-products">
      <h2 class="juegos-container__title"> <%= categories.name.toUpperCase() %></h2>

      <div class="juegos-container__products-container">
          <% for(let i = 0; i < categories.games.length; i++) { %>
          <article class="juegos-container__redirection">
            <article class="juegos-container__product">
                    <div class="juegos-container__animation">
                        <div class="card__side juegos-container__img-cont">
                            <% for(let j = 0; j < categories.games[i].images.length; j++) { %>
                                <%  if(categories.games[i].images[j].location == "default"){ %>
                                <img class="juegos-container__img" src="../../img/uploads/productsImage/<%= categories.games[i].images[j].img_url %>" alt="">
                                <% } %>
                            <% } %>
                        </div>
                        <div class="card__side juegos-container__back-part"
                        
                        <% for(let j = 0; j < categories.games[i].images.length; j++) { %>
                            <%  if(categories.games[i].images[j].location == "default"){ %>
                                style="background-image: linear-gradient(to right bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('../../img/uploads/productsImage/<%= categories.games[i].images[j].img_url %>');
                                       background-size: cover;
                                       background-position: center center;
                                       "
                            <% } %>
                        <% } %>

                        >
                            <div class="juegos-container__back-part--part1">
                                <p class="juegos-container__back-part--part1-p"><%= categories.games[i].description %></p>
                                <a class="juegos-container__back-part--part1-a" href="/product/detail/<%= categories.games[i].id %>">ver mas</a>
                            </div>
                            <form  class="" action="/user/cart/<%= categories.games[i].id  %>?_method=post" method="POST">
                                <button class="juegos-container__shopping-cart" type="submit"><i class="fas fa-shopping-cart"></i></button>
                            </form>
                            <a class="juegos-container__buy-button" href="/user/buyFormChoose">BUY</a>
                        </div>
                    </div>
                <p class="juegos-container__product-name"><%= categories.games[i].title %><br><%= categories.games[i].price %>$</p>
            </article>
        </article>
          <% } %>
    </div>

      </section>
  </div>
     <!-- Footer -->
     <%- include('partials/footer') %>
     <!-- Scripts -->
     <%- include('partials/scripts') %>
</body>
</html>