<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'detalleProducto'}) %>
<body>
    <%- include('partials/header') %>
    <div onclick="containerHide()" class="container mt-3 padding-cont-detalle">
        <div class="detalle-container">
            <div class="detalle-container__mediaInfo">
                <div class="detalle-container__part-1 arrow">
                    <div class="vista " ><img class="oculto" src="../../img/<%= productoDetalle.image2 %>" alt="imagen-gameplay" id="current">
                    <iframe class="detalle-container__video" name="videos" src="https://www.youtube.com/embed/<%=productoDetalle.video%>"  frameborder="0"></iframe></div> 
                    <div class="detalle-container__contenedor-slider">
                    <button role="button" id="flecha-derecha" class="flecha-izquierda">
                        <i class="fas fa-angle-right"></i>
                    </button>
                    <div class="contenedor-carrusel">
                        <div class="imagen-gameplay principal">
                            <img class="videoPreview" src="../../img/<%= productoDetalle.image1 %>" alt="imagen-gameplay">
                            <img class="logo videoPreview oculto" src="../../img/Logos/playvideo.png" alt="logo">
                        </div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image2 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image3 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image4 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image5 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image6 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image7 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image8 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image9 %>" alt="imagen-gameplay"></div>
                        <div class="imagen-gameplay"><img src="../../img/<%= productoDetalle.image10 %>" alt="imagen-gameplay"></div>
                    </div>
                    <button role="button" id="flecha-izquierda" class="flecha-derecha"> 
                        <i class="fas fa-angle-left"></i>
                    </button>
                    </div>
                </div>
                <article class="detalle-container__part-2">
                       <div class="">
                        <img class="imagen-detalle" src="/img/<%= productoDetalle.imagen_detalle %>" alt="">
                       </div>
                       <h3><%= productoDetalle.description %></h3>
                       <div class="detalle-container__rating"><i class="fas fa-star mb-2 rating"></i> <%= productoDetalle.rating %></div>
                       <p><%= productoDetalle.price %>$</p>
                       <div class="botones-administrador">
                        <button class="detail--action-button"><a href="/product/edit/<%= productoDetalle.id %>">EDITAR PRODUCTO</a></button>
                        <form action="/product/detail/<%= productoDetalle.id %>?_method=delete" method="POST" style="display: inline-flex">
                        <button type="submit" class="detail--action-button">ELIMINAR</button>
                        </form>
                       </div>
                       <div class="detalle-container__plataform-buyButtons">
                            <div class="detalle-container__plataform-buttons">
                                <% if(productoDetalle.playstation == "si") { %>
                                    <i class="<%= productoDetalle.icon_playstation %>"></i>
                                <% } %>
        
                                <% if(productoDetalle.xbox == "si") { %>
                                    <i class="<%= productoDetalle.icon_xbox %>"></i>
                                <% } %>
                           
                                <% if(productoDetalle.pc == "si") { %>
                                    <i class="<%= productoDetalle.icon_pc %>"></i>
                                <% } %>
                            </div>
                            <div class="">
                                <a href="/user/cart" class="carrito-contenedor-link"><i class="fas fa-shopping-cart shoping-cart-detalle" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-lg">Comprar</a>
                            </div>
                        </div>
                </article>
            </div>
            <div class="detalle-container__data-description">
                    <span class="span-detail">Sobre el juego</span>
                    <div class="detalle-container__full-info">
                        <div class="detalle-container__devInfo">
                            <div class="">
                                <span class="span-detail informacion">Desarrolladora:</span>
                                <p><%= productoDetalle.developer %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Editora:</span>
                                <p> <%= productoDetalle.editor %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Fecha de lanzamiento:</span>
                                <p> <%= productoDetalle.launch_date %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Etiquetas:</span>
                                <p> <%= productoDetalle.tags %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Clasificacion:</span>
                                <p> <%= productoDetalle.classification %></p>
                            </div>
                        </div>
                        <section class="">
                            <div class="texto-container">
                                <h1 class="h1-detalle"><%= productoDetalle.title %></h1>
                                <div class="texto-informativo">
                                    <%= productoDetalle.big_description %>
                                </div>
                                <br>
                                <div class="texto-informativo">
                                    <%= productoDetalle.medium_description %>
                                </div>
                            </div>
                        </section>
                    </div>
            </div>
            <div class="detalle-container__more-games">
                <span class="span-detail">Otros juegos</span>
                <div class="otros-juegos">
                    <% let arraynumrandom = [] %>
                    <% let verificador = 0 %>
                    <% while(arraynumrandom.length < 6) { %>
                    <% let random = Math.floor(Math.random() * productos.length) %>
                    <%  if ((arraynumrandom.length == 0) && (random != productoDetalle.id - 1)) { %>
                    <%  arraynumrandom.push(random) %>
                    <a href="/product/detail/<%= productos[random].id %>">
                        <article class="juegos-container__product">
                            <div class="juegos-container__img-cont">
                                <img src="../../img/<%= productos[random].image %>" alt="imagen-detalle">
                            </div>
                            <p><%= productos[random].title %></p>
                            <p><%= productos[random].price %>$</p>
                        </article>
                    </a>
                    <%  }else{ %>
                    <% for(let i = 0; i < arraynumrandom.length; i++) { %>
                    <%  if(random != arraynumrandom[i]){  %>
                    <%  verificador++ %>
                    <% } %>
        
                    <%  } %>
                    <%  if((verificador == arraynumrandom.length) && (random != productoDetalle.id - 1) ){  %>
                    <%  arraynumrandom.push(random) %>
                    <a href="/product/detail/<%= productos[random].id %>">
                        <article class="juegos-container__product">
                            <div class="juegos-container__img-cont">
                                <img src="../../img/<%= productos[random].image %>" alt="imagen-detalle">
                            </div>
                            <p><%= productos[random].title %></p>
                            <p><%= productos[random].price %>$</p>
                        </article>
                    </a>
                    <% } %>
                    <% } %>
                    <%  verificador = 0 %>
                    <% } %>       
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="/scripts/detalleProducto.js"></script>
    <script src="/scripts/script.js"></script>
</body>

</html>