<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>

<body>

    <!-- Header (Navs) -->
    <%- include('partials/header') %>

    <div class="container-fluid pb-0 pl-5 pr-5 pt-5">
        <!-- Slider -->

    <%- include('partials/slider') %>

    

        <div class="container-ofertas">
            <div class="product-section-1">
                <!-- Products View Left -->
            <div class="product-section__portrays">
                    <div class="product-section__box">
                        <% let primerDescuento =  Math.floor(Math.random() * discounts.length) %> 
                        <a href="/product/detail/<%=discounts[primerDescuento].games.id %>">
                            <% for(let k = 0; k < discounts[primerDescuento].games.images.length; k++) { %>
                                <%  if( discounts[primerDescuento].games.images[k].location == "default" ){ %>
                                            <img src="../../img/uploads/productsImage/<%= discounts[primerDescuento].games.images[k].img_url %>" alt="imagen/miniatura">
                                <% } %>
                            <% } %>
                        </a>
                        <div class="cartel-oferta">
                            <p> <%=discounts[primerDescuento].percentage_discount%>% OFF<p>
                        </div>
                    </div>
                
            <div class="product-section__horizontal-boxes">
                <div class="product-section__horizontal-boxes">
                    
                    <% let segundoDescuento =  Math.floor(Math.random() * discounts.length) %> 
                    <% while(segundoDescuento == primerDescuento){ %>
                        <%   segundoDescuento =  Math.floor(Math.random() * discounts.length) %>
                        <% } %> 
                                <div class="product-section__box--horizontal ">
                                    <a href="/product/detail/<%=discounts[segundoDescuento].games.id %>">
                                        <% for(let k = 0; k <discounts[segundoDescuento].games.images.length; k++) { %>
                                            <%  if( discounts[segundoDescuento].games.images[k].location == "imagen_horizontal" ){ %>
                                                <img src="../../img/uploads/productsImage/<%= discounts[segundoDescuento].games.images[k].img_url %>" alt="imagen/miniatura">
                                            <% } %>
                                        <% } %>
                                    </a>
                                    <div class="cartel-oferta__horizontal">
                                        <p><%=discounts[segundoDescuento].percentage_discount%> OFF<p>
                                    </div>
                                </div>
                                <% let tercerDescuento =  Math.floor(Math.random() * discounts.length) %> 
                                <% while(tercerDescuento == segundoDescuento || tercerDescuento == primerDescuento){ %>
                                    <%   tercerDescuento =  Math.floor(Math.random() * discounts.length) %>
                                    <% } %>
                                <div class="product-section__box--horizontal ">
                                    <a href="/product/detail/<%=discounts[tercerDescuento].games.id %>">
                                        <% for(let k = 0; k <discounts[tercerDescuento].games.images.length; k++) { %>
                                            <%  if( discounts[tercerDescuento].games.images[k].location == "imagen_horizontal" ){ %>
                                                <img src="../../img/uploads/productsImage/<%=discounts[tercerDescuento].games.images[k].img_url %>" alt="imagen/miniatura">
                                            <% } %>
                                        <% } %>
                                    </a>
                                    <div class="cartel-oferta__horizontal">
                                        <p><%=discounts[tercerDescuento].percentage_discount%> OFF<p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-section-2">
            <!-- Products View Right -->
            <div class="product-section-2__portrays">
                <% for(let i = 0; i < allCategories.length; i++){ %>
                    <%  if(allCategories[i].name == "Featured" ){ %>
                            <div class="product-section-2__box product-section-2__box--1">
                                <a href="/product/detail/<%= allCategories[i].games[1].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[1].images.length; k++) { %>
                                        <%  if( allCategories[i].games[1].images[k].location == "default" ){ %>
                                            <img src="../../img/uploads/productsImage/<%= allCategories[i].games[1].images[k].img_url %>" alt="imagen/miniatura">
                                     <% } %>
                                    <% } %>
                                </a>
                            </div>
                            <div class="product-section-2__box product-section-2__box--2">
                                <a href="/product/detail/<%= allCategories[i].games[2].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[2].images.length; k++) { %>
                                        <%  if( allCategories[i].games[2].images[k].location == "default" ){ %>
                                            <img src="../../img/uploads/productsImage/<%= allCategories[i].games[2].images[k].img_url %>" alt="imagen/miniatura">
                                     <% } %>
                                    <% } %>
                                </a>
                            </div>
                            <div class="product-section-2__box product-section-2__box--3">
                                <a href="/product/detail/<%= allCategories[i].games[3].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[3].images.length; k++) { %>
                                        <%  if( allCategories[i].games[3].images[k].location == "default" ){ %>
                                            <img src="../../img/uploads/productsImage/<%= allCategories[i].games[3].images[k].img_url %>" alt="imagen/miniatura">
                                     <% } %>
                                    <% } %>
                                </a>
                            </div>
                    <% } %>
                <% } %>
            </div>
        </div>

    </div>     



        <div class="juegos-container">

            <aside class="juegos-container__aside">
                <ul class="juegos-container__list">
                    <li class="juegos-container__item"><a href="#">Géneros</a></li>
                    <li class="juegos-container__item"><a href="#">Plataformas</a></li>
                    <li class="juegos-container__item"><a href="#">Ofertas</a></li>
                    <li class="juegos-container__item"><a href="#">Comunidad</a></li>
                    <li class="juegos-container__item"><a href="#">Próximamente</a></li>
                    <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
                    <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
                </ul>
            </aside>


            <section class="juegos-container__all-products">
                <h2 class="juegos-container__title">Recientes</h2>
                <div class="juegos-container__products-container">
                    <% for(let i = 0; i < allCategories.length; i++) { %>
                        <%  if(allCategories[i].name == "News" ){ %>
                            <% for(let j = 0; j < allCategories[i].games.length; j++) { %>
                                <a href="/product/detail/<%= allCategories[i].games[j].id %>">
                                    <article class="juegos-container__product">
                                        <div class="juegos-container__img-cont">
                                            <% for(let k = 0; k < allCategories[i].games[j].images.length; k++) { %>
                                                <%  if( allCategories[i].games[j].images[k].location == "default" ){ %>
                                                    <img src="../../img/uploads/productsImage/<%=allCategories[i].games[j].images[k].img_url%>" alt="imagen/miniatura">
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <p><%= allCategories[i].games[j].title%></p>
                                        <p><%= allCategories[i].games[j].price %>$</p>
                                    </article>
                                </a>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </section>
        </div>
    </div>
    <!-- Products -->

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    
    <%- include('partials/scripts') %>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js'></script>
			<script src="./script.js"></script>
</body>

</html>