<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>

<body>

    <!-- Header (Navs) -->
    <%- include('partials/header') %>

    <div class="container-fluid pb-0 pl-5 pr-5 pt-5">
        <!-- Slider -->
        <%- include('partials/slider') %>

        <div class="container-ofertas">

            <div class="product-section-1">
                <!-- Products View Left -->
                <div class="product-section__portrays">
                    <% for(let i = 0; i < allCategories.length; i++) { %>
                        <%  if(allCategories[i].name == "Outstanding" ){ %>
                            <div class="product-section__box">
                                <a href="/product/detail/<%= allCategories[i].games[0].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[0].images.length; k++) { %>
                                        <%  if( allCategories[i].games[0].images[k].location == "default" ){ %>
                                            <img src="<%= allCategories[i].games[0].images[k].img_url %>" alt="imagen/miniatura">
                                        <% } %>
                                    <% } %>
                                </a>
                                <div class="cartel-oferta">
                                    <p> 40%OFF<p>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                
            


            <div class="product-section__horizontal-boxes">
                <div class="product-section__horizontal-boxes">
                    <% for(let i = 0; i < allCategories.length; i++) { %>
                        <%  if(allCategories[i].name == "Outstanding" ){ %>
                            <% for(let j = 0; j < 2; j++) { %>
                                <div class="product-section__box--horizontal ">
                                    <a href="/product/detail/<%=allCategories[i].games[j].id %>">
                                        <% for(let k = 0; k < allCategories[i].games[j].images.length; k++) { %>
                                            <%  if( allCategories[i].games[j].images[k].location == "imagen_horizontal" ){ %>
                                                <img src="<%= allCategories[i].games[j].images[k].img_url %>" alt="imagen/miniatura">
                                            <% } %>
                                        <% } %>
                                    </a>
                                    <div class="cartel-oferta__horizontal">
                                        <p>40% OFF<p>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>




        <div class="product-section-2">
            <!-- Products View Right -->
            <div class="product-section-2__portrays">
                <% for(let i = 0; i < allCategories.length; i++){ %>
                    <%  if(allCategories[i].name == "Outstanding" ){ %>
                            <div class="product-section-2__box product-section-2__box--1">
                                <a href="/product/detail/<%= allCategories[i].games[1].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[1].images.length; k++) { %>
                                        <%  if( allCategories[i].games[1].images[k].location == "default" ){ %>
                                            <img src="<%= allCategories[i].games[1].images[k].img_url %>" alt="imagen/miniatura">
                                     <% } %>
                                    <% } %>
                                </a>
                            </div>
                            <div class="product-section-2__box product-section-2__box--2">
                                <a href="/product/detail/<%= allCategories[i].games[2].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[2].images.length; k++) { %>
                                        <%  if( allCategories[i].games[2].images[k].location == "default" ){ %>
                                            <img src="<%= allCategories[i].games[2].images[k].img_url %>" alt="imagen/miniatura">
                                     <% } %>
                                    <% } %>
                                </a>
                            </div>
                            <div class="product-section-2__box product-section-2__box--3">
                                <a href="/product/detail/<%= allCategories[i].games[3].id %>">
                                    <% for(let k = 0; k < allCategories[i].games[3].images.length; k++) { %>
                                        <%  if( allCategories[i].games[3].images[k].location == "default" ){ %>
                                            <img src="<%= allCategories[i].games[3].images[k].img_url %>" alt="imagen/miniatura">
                                     <% } %>
                                    <% } %>
                                </a>
                            </div>
                    <% } %>
                <% } %>
            </div>
        </div>

    </div>     



        <div class="juegos-container">

            <aside class="juegos-container__aside">
                <ul class="juegos-container__list">
                    <li class="juegos-container__item"><a href="#">Géneros</a></li>
                    <li class="juegos-container__item"><a href="#">Plataformas</a></li>
                    <li class="juegos-container__item"><a href="#">Ofertas</a></li>
                    <li class="juegos-container__item"><a href="#">Comunidad</a></li>
                    <li class="juegos-container__item"><a href="#">Próximamente</a></li>
                    <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
                    <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
                </ul>
            </aside>


            <section class="juegos-container__all-products">
                <h2 class="juegos-container__title">Compra Anticipada</h2>
                <div class="juegos-container__products-container">
                    <% for(let i = 0; i < allCategories.length; i++) { %>
                        <%  if(allCategories[i].name == "Early-bird" ){ %>
                            <% for(let j = 0; j < 12; j++) { %>
                                <a href="/product/detail/<%= allCategories[i].games[j].id %>">
                                    <article class="juegos-container__product">
                                        <div class="juegos-container__img-cont">
                                            <% for(let k = 0; k < allCategories[i].games[j].images.length; k++) { %>
                                                <%  if( allCategories[i].games[j].images[k].location == "default" ){ %>
                                                    <img src="<%= allCategories[i].games[j].images[k].img_url %>" alt="imagen/miniatura">
                                                <% } %>
                                            <% } %>
                                        </div>
                                        <p><%= allCategories[i].games[j].title%></p>
                                        <p><%= allCategories[i].games[j].price %>$</p>
                                    </article>
                                </a>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </section>
        </div>
    </div>
    <!-- Products -->

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>

</html>