<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Detalle de producto'}) %>
<body>
    <%- include('partials/header') %>
    <div class="container mt-3 padding-cont-detalle">
        <div class="detalle-container">
            <div class="detalle-container__mediaInfo">
                <div class="detalle-container__part-1 arrow">
                    <div class="vista " ><img class="oculto" src="<%= productDetail.images[1].img_url %>" alt="imagen-gameplay" id="current">
                    <iframe class="detalle-container__video" name="videos" src="https://www.youtube.com/embed/<%=productDetail.video%>"  frameborder="0"></iframe>
                    </div> 
                    <div class="detalle-container__contenedor-slider">
                        <button role="button" id="flecha-derecha" class="flecha-izquierda">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <div class="contenedor-carrusel">
                            <div class="imagen-gameplay principal">
                                <img class="videoPreview" src="<%= productDetail.images[1].img_url %>" alt="imagen-gameplay">
                                <img class="logo videoPreview oculto" src="../../img/Logos/playvideo.png" alt="logo">
                            </div>
                            <% for(let i = 0; i < productDetail.images.length; i++) { %>
                                <% if(productDetail.images[i].location == "carousel") {%>
                                    <div class="imagen-gameplay"><img src="<%= productDetail.images[i].img_url %>" alt="imagen-gameplay"></div>
                            <% } %>
                            <% } %>
                        </div>
                        <button role="button" id="flecha-izquierda" class="flecha-derecha"> 
                            <i class="fas fa-angle-left"></i>
                        </button>
                    </div>
                </div>
                <article class="detalle-container__part-2">
                       <div class="">
                        <img class="imagen-detalle" src="<%= productDetail.images[1].img_url %>" alt="">
                       </div>
                       <h3><%= productDetail.description %></h3>
                       <div class="detalle-container__rating"><i class="fas fa-star mb-2 rating"></i> <%= productDetail.rating %></div>
                       <p><%= productDetail.price %>$</p>
                       <div class="botones-administrador">
                        <button class="detail--action-button"><a href="/product/edit/<%= productDetail.id %>">EDITAR PRODUCTO</a></button>
                        <form action="/product/detail/<%= productDetail.id %>?_method=delete" method="POST" style="display: inline-flex">
                        <button type="submit" class="detail--action-button">ELIMINAR</button>
                        </form>
                       </div>
                       <div class="detalle-container__plataform-buyButtons">
                            <div class="detalle-container__plataform-buttons">
                                <% for(let i = 0; i < productDetail.platforms.length; i++){ %>
                                    <i class="<%= productDetail.platforms[i].icono%>"></i>
                                <% } %>
                         
                        </div>
                            <div class="">
                                <a href="/user/cart" class="carrito-contenedor-link"><i class="fas fa-shopping-cart shoping-cart-detalle" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-lg">Comprar</a>
                            </div>
                        </div>
                </article>
            </div>
            <div class="detalle-container__data-description">
                    <span class="span-detail">Sobre el juego</span>
                    <div class="detalle-container__full-info">
                        <div class="detalle-container__devInfo">
                            <div class="">
                                <span class="span-detail informacion">Desarrolladora:</span>
                                <p><%= productDetail.editor %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Editora:</span>
                                <p> <%= productDetail.developer %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Fecha de lanzamiento:</span>
                                <p> <%= productDetail.launch_date.getFullYear() %></p>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Etiquetas:</span>
                                <div class="generos-button">
                                <% for(let i = 0; i < productDetail.genres.length; i++){ %>
                                    <button class="detail--action-button generos-button"><a href="/product/<%= productDetail.genres[i].id %>"><%= productDetail.genres[i].name %> </a></button>
                                <% } %>
                            </div>
                            </div>
                            <div class="">
                                <span class="span-detail informacion">Clasificacion:</span>
                                <p> <%= productDetail.classification %></p>
                            </div>
                        </div>
                        <section class="">
                            <div class="texto-container">
                                <h1 class="h1-detalle"><%= productDetail.title %></h1>
                                <div class="texto-informativo">
                                    <%= productDetail.descriptionBig %>
                                </div>
                                <br>
                                <div class="texto-informativo">
                                    <%= productDetail.descriptionMedium %>
                                </div>
                            </div>
                        </section>
                    </div>
            </div>
            <div class="detalle-container__more-games">
                <span class="span-detail">Otros juegos</span>
                <div class="otros-juegos">
                    <% let arraynumrandom = [] %>
                    <% let verificador = 0 %>
                    <% while(arraynumrandom.length < 6) { %>
                    <% let random = Math.floor(Math.random() * products.length) %>
                    <%  if ((arraynumrandom.length == 0) && (random != productDetail.id - 1)) { %>
                    <%  arraynumrandom.push(random) %>
                    <a href="/product/detail/<%= products[random].id %>">
                        <article class="juegos-container__product">
                            <div class="juegos-container__img-cont">
                                <% for(let j = 0; j < products[random].images.length; j++) { %>
                                    <% if(products[random].images[j].location == "default") {%>
                                    <img src="<%= products[random].images[j].img_url %>" alt="imagen-detalle">
                                <% } %>
                                <% } %>
                            </div>
                            <p><%= products[random].title %></p>
                            <p><%= products[random].price %>$</p>
                        </article>
                    </a>
                    <%  }else{ %>
                    <% for(let i = 0; i < arraynumrandom.length; i++) { %>
                    <%  if(random != arraynumrandom[i]){  %>
                    <%  verificador++ %>
                    <% } %>
        
                    <%  } %>
                    <%  if((verificador == arraynumrandom.length) && (random != productDetail.id - 1) ){  %>
                    <%  arraynumrandom.push(random) %>
                    <a href="/product/detail/<%= products[random].id %>">
                        <article class="juegos-container__product">
                            <div class="juegos-container__img-cont">
                                <% for(let j = 0; j < products[random].images.length; j++) { %>
                                    <% if(products[random].images[j].location == "default") {%>
                                    <img src="<%= products[random].images[j].img_url %>" alt="imagen-detalle">
                                <% } %>
                                <% } %>
                            </div>
                            <p><%= products[random].title %></p>
                            <p><%= products[random].price %>$</p>
                        </article>
                    </a>
                    <% } %>
                    <% } %>
                    <%  verificador = 0 %>
                    <% } %>       
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="/scripts/detalleProducto.js"></script>
    <script src="/scripts/script.js"></script>
</body>

</html>