<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'productos'}) %>

<body>
    <%- include('partials/header') %>
    <div onclick="containerHide()" class="juegos-container juegos-container2">
      <aside class="juegos-container__aside juegos-container__aside2">
          <ul class="juegos-container__list">                   
              <li class="juegos-container__item"><a href="#">Géneros</a></li>
              <li class="juegos-container__item"><a href="#">Plataformas</a></li>
              <li class="juegos-container__item"><a href="#">Ofertas</a></li>
              <li class="juegos-container__item"><a href="#">Comunidad</a></li>
              <li class="juegos-container__item"><a href="#">Próximamente</a></li>
              <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
              <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
          </ul>
      </aside>
      <section class="juegos-container__all-products">
          <h2 class="juegos-container__title">Juegos</h2>
          <div class="juegos-container__products-container ">
            <% for(let i = 0; i < producto.length; i++) { %>
                <a href="/product/detail/<%= producto[i].id %>">
                    <article class="juegos-container__product">
                        <div class="juegos-container__img-cont">
                            <img src="img/uploads/productsImage/<%= producto[i].image %>" alt="">
                        </div>
                        <p><%= producto[i].title %></p>
                        <p><%= producto[i].price %>$</p>
                    </article>
                </a>
                <% } %>
          </div>
      </section>
  </div>
     <!-- Footer -->
     <%- include('partials/footer') %>
     <!-- Scripts -->
     <%- include('partials/scripts') %>
</body>
</html>