<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Lista de productos'}) %>

<body>

    <%- include('partials/header') %>
    
    <div class="container juegos-container mt-5">
      <aside class="juegos-container__aside juegos-container__aside2">
          <ul class="juegos-container__list">                   
              <li class="juegos-container__item"><a href="#">Géneros</a></li>
              <li class="juegos-container__item"><a href="#">Plataformas</a></li>
              <li class="juegos-container__item"><a href="#">Ofertas</a></li>
              <li class="juegos-container__item"><a href="#">Comunidad</a></li>
              <li class="juegos-container__item"><a href="#">Próximamente</a></li>
              <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
              <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
          </ul>
      </aside>
      <section class="juegos-container__all-products">
        <h2 class="juegos-container__title">All Games</h2>
          <div class="juegos-container__products-container ">
            <% for(let i = 0; i < products.length; i++) { %>
                <article class="juegos-container__redirection">
                    <article class="juegos-container__product">
                            <div class="juegos-container__animation">
                                <div class="card__side juegos-container__img-cont">
                                    <% for(let j = 0; j < products[i].images.length; j++) { %>
                                        <%  if( products[i].images[j].location == "default" ){ %>
                                        <img class="juegos-container__img" src="../../img/uploads/productsImage/<%= products[i].images[j].img_url %>" alt="">
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="card__side juegos-container__back-part"
                                
                                <% for(let j = 0; j < products[i].images.length; j++) { %>
                                    <%  if( products[i].images[j].location == "default" ){ %>
                                        style="background-image: linear-gradient(to right bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url('../../img/uploads/productsImage/<%= products[i].images[j].img_url %>');
                                               background-size: cover;
                                               background-position: center center;
                                              "
                                    <% } %>
                                <% } %>
                                
                                >
                                    <div class="juegos-container__back-part--part1">
                                        <p class="juegos-container__back-part--part1-p"><%= products[i].description %></p>
                                        <a class="juegos-container__back-part--part1-a" href="/product/detail/<%= products[i].id  %>">ver mas</a>
                                    </div>
                                    <a class="juegos-container__shopping-cart" href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="juegos-container__buy-button" href="/user/buyFormChoose">BUY</a>
                                </div>
                            </div>
                        <p class="juegos-container__product-name"><%= products[i].title %><br><%= products[i].price %>$</p>
                    </article>
                </article>
                <% } %>
          </div>
      </section>
  </div>

     <!-- Footer -->
     <%- include('partials/footer') %>
     <!-- Scripts -->
     <%- include('partials/scripts') %>
</body>
</html>