<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Lista de productos'}) %>

<body>

    <%- include('partials/header') %>
    
    <div class="container juegos-container mt-5">
      <aside class="juegos-container__aside juegos-container__aside2">
          <ul class="juegos-container__list">                   
              <li class="juegos-container__item"><a href="#">Géneros</a></li>
              <li class="juegos-container__item"><a href="#">Plataformas</a></li>
              <li class="juegos-container__item"><a href="#">Ofertas</a></li>
              <li class="juegos-container__item"><a href="#">Comunidad</a></li>
              <li class="juegos-container__item"><a href="#">Próximamente</a></li>
              <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
              <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
          </ul>
      </aside>
      <section class="juegos-container__all-products">
        <h2 class="juegos-container__title">All Games</h2>
          <div class="juegos-container__products-container ">
            <% for(let i = 0; i < products.length; i++) { %>
                <a href="/product/detail/<%= products[i].id %>">
                    <article class="juegos-container__product">
                        <div class="juegos-container__img-cont">
                            <% for(let j = 0; j < products[i].images.length; j++) { %>
                                <% if(products[i].images[j].location == "default") {%>
                                <img src="<%= products[i].images[j].img_url %>" alt="imagen/miniatura">
                            <% } %>
                            <% } %>
                        </div>
                        <p><%= products[i].title %></p>
                        <p><%= products[i].price %>$</p>
                    </article>
                </a>
                <% } %>
          </div>
      </section>
  </div>

     <!-- Footer -->
     <%- include('partials/footer') %>
     <!-- Scripts -->
     <%- include('partials/scripts') %>
</body>
</html>