<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Carga de producto'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    
    <div class="container pb-3 container-productLoader">
        <form class="productLoader-form" action="" enctype="multipart/form-data" method="POST">
            <div id="form1" class="row productLoader-form-1">
                    <div class="col-12">
                        <h1>Carga de Producto:</h1>
                    </div>
                    <div class="col-6 pb-5">
                        <label for="title" class="productLoader-form-label">Título del juego: </label>
                        <input type="text" name="title" class="productLoader-form-input" id="titleLoad">
                        <small class="text-danger" id="errTitle"></small>
                    </div>
                    <div class="col-6 pb-5">
                        <label for="estado" class="productLoader-form-label">Estado del juego: </label>
                        <select class="productLoader-form-input" id="stateLoad" name="estado">
                            <option selected hidden>Elija el estado</option>
                            <option value="1">Muy malo</option>
                            <option value="2">Muy usado</option>
                            <option value="3">Usado</option>
                            <option value="4">Casi Nuevo</option>
                            <option value="5">Nuevo</option>
                        </select>
                        <small class="text-danger" id="errStateLoad"></small>
                    </div>
                    <div class="col-6 pb-5">
                        <label for="platforms" class="productLoader-form-label">Plataformas: </label>
                        <% for(let i = 0; i < gamePlatform.length; i++) { %>
                        <input type="checkbox" name="platform" id="platformLoad" value="<%= gamePlatform[i].id %>" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="platforms"><%= gamePlatform[i].name %></label><br>
                        <% } %>
                        <small class="text-danger" id="errPlatformLoad"></small>
                    </div>
                    <button type="button" class="productLoader-form-button--next"><a href="#form2">Siguiente</a></button>
            </div>


            <div id="form2" class="row productLoader-form-2">
                <div class="col-12">
                    <h1>Mostrá tu juego:</h1>
                </div>
                <div class="form2-containerLoader-all">
                    <div class="row form2-containerLoader">
                        <div class="col-4">
                            <div class="form2-containerLoader--portray">
                                <img class="productLoader-form-uploadImage--portray" src="/img/Logos/Portray-upload.jpg" alt="">
                                <input type="file" id="portray" style="display: none;" name="default">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row form2-containerLoader--video">
                                <img class="productLoader-form-uploadImage--video" src="/img/Logos/Video-upload.jpg" alt="">
                                <!--<input type="text" id="video" class="productLoader-form-uploadImage--video-input" name="video">-->
                            </div>
                            <div class="row form2-containerEdit--link-video form2-containerEdit--link-video2">
                                <input type="text" id="video" class="productEdit-form-input productEdit-form-input--link-video productEdit-form-input--link-video2 videoLink" name="video" placeholder="Link del video">
                                <small class=""></small>
                            </div>
                            <div class="row form2-containerLoader--horizontal">
                                <img class="productLoader-form-uploadImage--horizontal" src="/img/Logos/Horizontal-upload.jpg" alt="">
                                <input type="file" id="horizontal" style="display: none;" name="imagen_horizontal">
                            </div>
                        </div>
                    </div>
                    <div class="row form2-containerLoader">
                        <div class="col-8">
                            <div class="form2-containerLoader--photo__left">
                                <img class="productLoader-form-uploadImage" id="one" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="one" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="two" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="two" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="three" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="three" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="four" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="four" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="five" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="five" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="six" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="six" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="seven" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="seven" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="eight" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="eight" style="display: none;" name="carousel">
                                <img class="productLoader-form-uploadImage" id="nine" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="nine" style="display: none;" name="carrousel">
                                <img class="productLoader-form-uploadImage" id="ten" src="/img/Logos/Photo-upload.jpg" alt="">
                                <input type="file" id="ten" style="display: none;" name="carousel">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form2-containerLoader--photo__right">
                                <img class="productLoader-form-uploadImage--detail" src="/img/Logos/Detail-upload.jpg" alt="">
                                <input type="file" id="detail" style="display: none;" name="imagen_detalle">
                            </div>
                        </div>
                        <button type="button" class="productLoader-form-button--next mb-5 mt-5"><a href="#form3">Siguiente</a></button>
                    </div>
                </div>
            </div>


            <div id="form3" class="row productLoader-form-3">
                <div class="col-12">
                    <h1>Características de pago:</h1>
                </div>
                <div class="col-6 pb-5">
                    <label for="pagos" class="productLoader-form-label">Metodos de pago aceptados: </label>
                    <input type="checkbox" value="Visa" name="pagos" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="pagos">Visa</label><br>
                    <small class=""></small>
                    <input type="checkbox" value="MercadoPago" name="pagos" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="pagos">Mercado Pago</label><br>
                    <small class=""></small>
                    <input type="checkbox" value="Mastercard" name="pagos" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="pagos">Mastercard</label><br>
                    <small class=""></small>
                    <input type="checkbox" value="American" name="pagos" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="pagos">American Express</label><br>
                    <small class=""></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="receive" class="productLoader-form-label">Opciones de entrega de Producto: </label>
                    <input type="checkbox" value="Delivery" name="receive" class="productLoader-form-checkbox" id="deliveryLoad"> <label class="productLoader-checkbox-label" for="receive">Delivery</label><br>
                    <small class=""></small>
                    <input type="checkbox" value="Buscar" name="receive" class="productLoader-form-checkbox" id="buscarLoad"> <label class="productLoader-checkbox-label" for="receive">Buscar</label><br>
                    <small class="text-danger" id="errEntregaLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="price" class="productLoader-form-label">Precio del juego</label>
                    <input type="text" name="price" class="productLoader-form-input" id="priceLoad">
                    <small class="text-danger" id="errPriceLoad"></small>
                </div>
                <button type="button" class="productLoader-form-button--next"><a href="#form4">Siguiente</a></button>
            </div>


            <div id="form4" class="row productLoader-form-4">
                <div class="col-12">
                    <h1>Descripcion del juego:</h1>
                </div>
                <div class="col-6 pb-5">
                    <label for="description" class="productLoader-form-label">Descripcion de juego: </label>
                    <textarea cols="55" rows="6" name="description" class="productLoader-form-input__textarea" id="descriptionLoad"></textarea>
                    <small class="text-danger" id="errDescriptionLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="medium_description" class="productLoader-form-label">Descripcion mediana: </label>
                    <textarea cols="55" rows="6" name="medium_description" class="productLoader-form-input__textarea" id="descriptionMediumLoad"></textarea>
                    <small class="text-danger" id="errDescriptionMediumLoad"></small>
                </div>
                <div class="col-12 pb-5">
                    <label for="big_description" class="productLoader-form-label">Descripcion grande: </label>
                    <textarea cols="55" rows="6"  name="big_description" class="productLoader-form-input__bigTextarea" id="descriptionLargeLoad"></textarea>
                    <small class="text-danger" id="errDescriptionLargeLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="editor" class="productLoader-form-label">Editora: </label>
                    <input type="text" name="editor" class="productLoader-form-input" id="editorLoad">
                    <small class="text-danger" id="errEditorLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="developer" class="productLoader-form-label">Desarrolladora: </label>
                    <input type="text" name="developer" class="productLoader-form-input" id="developerLoad">
                    <small class="text-danger" id="errDeveloperLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="launch_date" class="productLoader-form-label">Fecha de lanzamiento: </label>
                    <input type="text" name="launch_date" class="productLoader-form-input" id="launchDateLoad">
                    <small class="text-danger" id="errLaunchDateLoad"></small>
                </div>
                <button type="button" class="productLoader-form-button--next"><a href="#form5">Siguiente</a></button>
            </div>


            <div id="form5" class="row productLoader-form-5">
                <div class="col-6 pb-5">
                    <label for="category" class="productLoader-form-label">Categorias: </label>
                    <% for(let i = 0; i < gameCategory.length; i++) { %>
                    <input type="checkbox" value="<%= gameCategory[i].id %>" name="category" class="productLoader-form-checkbox" id="categoryLoad"> <label class="productLoader-checkbox-label" for="category"><%= gameCategory[i].name %></label><br>
                    <% } %>
                    <small class="text-danger" id="errCategoryLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="tags" class="productLoader-form-label">Etiquetas: </label>
                    <% for(let i = 0; i < gameGenre.length; i++) { %>
                        <input type="checkbox" value="<%= gameGenre[i].id %>" name="genre" class="productLoader-form-checkbox" id="tagLoad"> <label class="productLoader-checkbox-label" for="genre"><%= gameGenre[i].name %></label><br>
                    <% } %>
                    <small class="text-danger" id="errTagLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="classification" class="productEdit-form-label">Clasificacion: </label>
                    <input type="text" name="classification" class="productEdit-form-input" id="classificationLoad">
                    <small class="text-danger" id="errClassificationLoad"></small>
                </div>
                <div class="col-6 pb-5">
                    <label for="rating" class="productLoader-form-label">Puntaje: </label>
                    <input type="text" name="rating" class="productLoader-form-input" id="ratingLoad">
                    <small class="text-danger" id="errRatingLoad"></small>
                </div>
                <button type="button" class="productLoader-form-button--next mb-5"><a href="#form1">Volver arriba</a></button>
                <button type="submit" class="productLoader-form-button--submit mb-5">Cargar producto</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="/scripts/photoUpload.js"></script>
    <script src="/scripts/productLoad.js"></script>
</body>
</html>