<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Lista de productos'}) %>

<body>

    <%- include('partials/header') %>
    
    <div class="container juegos-container mt-5">
      <aside class="juegos-container__aside juegos-container__aside2">
          <ul class="juegos-container__list">                   
              <li class="juegos-container__item"><a href="#">Géneros</a></li>
              <li class="juegos-container__item"><a href="#">Plataformas</a></li>
              <li class="juegos-container__item"><a href="#">Ofertas</a></li>
              <li class="juegos-container__item"><a href="#">Comunidad</a></li>
              <li class="juegos-container__item"><a href="#">Próximamente</a></li>
              <li class="juegos-container__item"><a href="#">Recomendaciones</a></li>
              <li class="juegos-container__item"><a href="#">(Filtrados)</a></li>
          </ul>
      </aside>
      <% if((typeof buscado && typeof consulta) != 'undefined'){ %>
      <section class="juegos-container__all-products">
        <h2 class="juegos-container__title">Resultados a tu busqueda</h2>
          <div class="juegos-container__products-container ">
            <% if(!buscado) { %>
                <h2>No encontramos coincidencias con tu busqueda</h2>
            <% } else { %>
                <% for(let i = 0; i < buscado.length; i++) { %>
                    <article class="juegos-container__redirection">
                        <article class="juegos-container__product">
                                <div class="juegos-container__animation">
                                    <div class="card__side juegos-container__img-cont">
                                        <% for(let k = 0; k < buscado[i].images.length; k++) { %>
                                            <%  if( buscado[i].images[k].location == "default" ){ %>
                                            <img class="juegos-container__img" src="../../img/uploads/productsImage/<%= buscado[i].images[k].img_url%>" alt="">
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <div class="card__side juegos-container__back-part">
                                        <div class="juegos-container__back-part--part1">
                                            <p class="juegos-container__back-part--part1-p"><%= buscado[i].description %></p>
                                            <a class="juegos-container__back-part--part1-a" href="/product/detail/<%= buscado[i].id %>">ver mas</a>
                                        </div>
                                        <a class="juegos-container__shopping-cart" href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
                                        <a class="juegos-container__buy-button" href="/user/buyFormChoose">BUY</a>
                                    </div>
                                </div>
                            <p class="juegos-container__product-name"><%= buscado[i].title %><br><%= buscado[i].price %>$</p>
                        </article>
                    </article>
                <% } %>
            <% } %>
          </div>
      </section>
      <% } %>
  </div>

     <!-- Footer -->
     <%- include('partials/footer') %>
     <!-- Scripts -->
     <%- include('partials/scripts') %>
</body>
</html>