<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Edición de producto'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <div class="container pb-3 container-productEdit">
        <form class="productEdit-form" action="/product/edit/<%= productEdit.id %>?_method=put" method="POST">
            <div id="form1" class="row productEdit-form-1">
                <div class="col-12">
                    <h1>Edición de Producto</h1>
                </div>
                <div class="col-6 pb-5">
                    <label for="title" class="productEdit-form-label">Titulo del juego: </label>
                    <input type="text" name="title" class="productEdit-form-input" value="<%= productEdit.title %>" />
                </div>
                <div class="col-6 pb-5">
                    <label for="estado" class="productEdit-form-label">Estado del juego: </label>
                    <select class="productEdit-form-input state" name="estado">
                        <option selected hidden>Elija el estado</option>
                        <option value="1">Muy malo</option>
                        <option value="2">Muy usado</option>
                        <option value="3">Usado</option>
                        <option value="4">Casi Nuevo</option>
                        <option value="5">Nuevo</option>
                    </select>
                </div>
                <div class="col-6 pb-5">
                    <label for="platforms" class="productEdit-form-label">Plataformas: </label>
                    <% for(let i = 0; i < gamePlatform.length; i++) { %>
                        <input <%= (productEdit.games_platforms.id_platform == gamePlatform[i].id) ? checked : null %> type="checkbox" name="platform" value="<%= gamePlatform[i].id %>" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="platforms"><%= gamePlatform[i].name %></label><br>
                    <% } %>
                </div>
                <button type="button" class="productEdit-form-button--next"><a href="#form2">Siguiente</a></button>
            </div>    


            <div id="form2" class="row productEdit-form-2">
                <div class="col-12">
                    <h1>Mostrá tu juego:</h1>
                </div>
                <div class="form2-containerEdit-all">
                    <div class="row form2-containerEdit">
                        <div class="col-4">
                            <div class="form2-containerEdit--portray">
                                <img data-status="active" class="productEdit-form-uploadImage--portray" src="/img/uploads/productsImage/<%= (productEdit.images.location == 'default') ? productEdit.images.img_url : null %>" alt=""/>
                                <input type="file" id="portray" style="display: none;" name="image"/>
                                <div id="portrayZoom" class="inactive_portray">
                                    <i class="fas fa-times"></i>
                                    <img class="productEdit-form-uploadImage--portray" style="cursor: default;" src="/img/uploads/productsImage/<%= (productEdit.images.location == 'default') ? productEdit.images.img_url : null %>" alt=""/>
                                    <form action="">
                                        <button type="button" class="productEdit-form-button--next">Borrar foto</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row form2-containerEdit--video">
                                <iframe class="productEdit-form-uploadVideo" src="https://www.youtube.com/embed/<%= productEdit.video %>" frameborder="0"></iframe>
                            </div>
                            <div class="row form2-containerEdit--link-video">
                                <input type="text" id="video" class="productEdit-form-input productEdit-form-input--link-video" name="video" value="https://www.youtube.com/watch?v=<%= productEdit.video %>"/>
                            </div>
                            <div class="row form2-containerEdit--horizontal">
                                <img class="productEdit-form-uploadImage--horizontal" src="/img/uploads/productsImage/<%= (productEdit.images.location == 'imagen_horizontal') ? productEdit.images.img_url : null %>" alt=""/>
                                <input type="file" id="horizontal" style="display: none;" name="imagen_horizontal"/>
                            </div>
                        </div>
                    </div>
                    <div class="row form2-containerEdit">
                        <div class="col-8">
                            <div class="form2-containerEdit--photo__left">
                                <% for(let i = 0; i < productEdit.length; i++) { %>
                                        <img class="productEdit-form-uploadImage" id="one" src="/img/uploads/productsImage/<%= (productEdit[i].images[i].location == 'carousel') ? productEdit[i].images[i].img_url : null %>" alt="" />
                                        <input type="file" id="one" style="display: none;" name="carousel"/>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form2-containerEdit--photo__right">
                                <img class="productEdit-form-uploadImage--detail" src="/img/uploads/productsImage/<%= (productEdit.images.location == 'imagen_detalle') ? productEdit.images.img_url : null %>" alt="" />
                                <input type="file" id="detail" style="display: none;" name="imagen_detalle" />
                            </div>
                        </div>
                        <button type="button" class="productEdit-form-button--next mb-5 mt-5"><a href="#form3">Siguiente</a></button>
                    </div>
                </div>
            </div>


            <div id="form3" class="row productEdit-form-3">
                <div class="col-12">
                    <h1>Características de Pago:</h1>
                </div>
                <div class="col-6 pb-5">
                    <label for="pagos" class="productEdit-form-label">Metodos de pago aceptados: </label>
                    <input type="checkbox" value="Visa" name="pagos" class="productEdit-form-checkbox paymentMethod1" /> <label class="productEdit-checkbox-label" for="pagos">Visa</label><br/>
                    <input type="checkbox" value="MercadoPago" name="pagos" class="productEdit-form-checkbox paymentMethod2" /> <label class="productEdit-checkbox-label" for="pagos">Mercado Pago</label><br/>
                    <input type="checkbox" value="Mastercard" name="pagos" class="productEdit-form-checkbox paymentMethod3" /> <label class="productEdit-checkbox-label" for="pagos">Mastercard</label><br/>
                    <input type="checkbox" value="American" name="pagos" class="productEdit-form-checkbox" /> <label class="productEdit-checkbox-label paymentMethod4" for="pagos">American Express</label><br/>
                </div>
                <div class="col-6 pb-5">
                    <label for="receive" class="productEdit-form-label">Opciones de entrega de Product: </label>
                    <input type="checkbox" value="Delivery" name="receive" class="productEdit-form-checkbox deliveryOption1" /> <label class="productEdit-checkbox-label" for="receive">Delivery</label><br/>
                    <input type="checkbox" value="Buscar" name="receive" class="productEdit-form-checkbox" /> <label class="productEdit-checkbox-label deliveryOption2" for="receive">Buscar</label>
                </div>
                <div class="col-6 pb-5">
                    <label for="price" class="productEdit-form-label">Precio del juego</label>
                    <input type="text" name="price" class="productEdit-form-input" value="<%= productEdit.price %>" />
                </div>
                <button type="button" class="productEdit-form-button--next"><a href="#form4">Siguiente</a></button>
            </div>


            <div id="form4" class="row productEdit-form-4">
                <div class="col-12">
                    <h1>Descripción del juego:</h1>
                </div>
                <div class="col-6 pb-5">
                    <label for="description" class="productEdit-form-label">Descripcion de juego: </label>
                    <textarea cols="55" rows="6" name="description" class="productEdit-form-input__textarea" value=""><%= productEdit.description %></textarea>
                </div>
                <div class="col-6 pb-5">
                    <label for="medium_description" class="productEdit-form-label">Descripcion mediana: </label>
                    <textarea cols="55" rows="6" type="text" name="medium_description" class="productEdit-form-input__textarea" value=""><%= productEdit.descriptionMedium %></textarea>
                </div>
                <div class="col-12 pb-5">
                    <label for="mbig_description" class="productEdit-form-label">Descripcion grande: </label>
                    <textarea cols="55" rows="6" type="text" name="big_description" class="productEdit-form-input__bigTextarea" value=""><%= productEdit.descriptionBig %></textarea>
                </div>
                <div class="col-6 pb-5">
                    <label for="editor" class="productEdit-form-label">Editora: </label>
                    <input type="text" name="editor" class="productEdit-form-input" value="<%= productEdit.editor %>" />
                </div>
                <div class="col-6 pb-5">
                    <label for="developer" class="productEdit-form-label">Desarrolladora: </label>
                    <input type="text" name="developer" class="productEdit-form-input" value="<%= productEdit.developer %>" />
                </div>
                <div class="col-6 pb-5">
                    <label for="launch_date" class="productEdit-form-label">Fecha de lanzamiento: </label>
                    <input type="text" name="launch_date" class="productEdit-form-input" value="<%= productEdit.launch_date %>" />
                </div>
                <button type="button" class="productEdit-form-button--next"><a href="#form5">Siguiente</a></button>
            </div>


            <div id="form5" class="row productEdit-form-5">
                <div class="col-6 pb-5">
                    <label for="category" class="productEdit-form-label">Categorias: </label>
                    <% for(let i = 0; i < gameCategory.length; i++) { %>
                        <input <%= (productEdit.games_categories.id_category == gameCategory[i].id) ? checked : null %> type="checkbox" value="<%= gameCategory[i].id %>" name="category" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="category"><%= gameCategory[i].name %></label><br>
                    <% } %>
                </div>
                <div class="col-6 pb-5">
                    <label for="tags" class="productEdit-form-label">Etiquetas: </label>
                    <% for(let i = 0; i < gameGenre.length; i++) { %>
                        <input <%= (productEdit.games_genres.id_genre == gameGenre[i].id) ? checked : null %> type="checkbox" value="<%= gameGenre[i].id %>" name="genre" class="productLoader-form-checkbox"> <label class="productLoader-checkbox-label" for="genre"><%= gameGenre[i].name %></label><br>
                    <% } %>
                </div>
                <div class="col-6 pb-5">
                    <label for="classification" class="productEdit-form-label">Clasificacion: </label>
                    
                </div>
                <div class="col-6 pb-5">
                    <label for="rating" class="productEdit-form-label">Puntaje: </label>
                    <input type="text" name="rating" class="productEdit-form-input" value="<%= productEdit.rating %>"/>
                </div>
                    <button type="button" class="productEdit-form-button--next mb-5"><a href="#form1">Volver arriba</a></button>
                    <button type="submit" class="productEdit-form-button--submit mb-5">Confirmar edición</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
    <script src="/scripts/photoEdit.js"></script>
</body>
</html>