<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>
    <div class="user-cart-header-container"><%- include('partials/header') %></div>
    <div class="carrito-container">
        <div class="carrito-container__aside">
            <ul class="carrito-container__list">
                <li class="carrito-container__item"><div class="container-profile-general-profile"> <div>
                    <img src="/img/uploads/avatars/<%=user.avatar%>" alt="" id="avatar">

                    <h3 class="profile-username"><%=user.username%></h3>
                </div></div></li>
                <li class="carrito-container__item"><a href="#">Juegos</a></li>
                <li class="carrito-container__item"><a href="#">Noticias</a></li>
                <li class="carrito-container__item"><a href="#">Acerca De</a></li>
                <li class="carrito-container__item"><a href="#">Descarga la App</a></li>
                <li class="carrito-container__item"><a href="#">Soporte</a></li>
            </ul>
            <div class="header-cart__nav">
                <a href="/"><img src="../../img/House_of_GamesLOGO.png" alt="Logo-image"></a>
            </div>
        </div>
        <div class="carrito-container__info">
            <div class="carrito-container__dato carrito-container__dato--margin">
                Articulos del carrito
            </div>
            <%user.games_shooping_cart.forEach((element)=>{%>
                <div class="carrito-container__articulos">
                    <div class="carrito-container__juego">
                        <div class="carrito-container__img-cont">
                           <a href="/product/detail/<%=element.id%>"><img class="cart-image-single" src="../../img/uploads/productsImage/<%= element.images[0].img_url%> " alt=""></a> 
                        </div>

                        <div>
                        <p><%= element.title %></p>
                        <p>Precio: $<%= element.price%></p>
                        </div>
                        <div class="carrito-container__select-cont">
                            <form  action="/user/cart/<%=user.id%>?_method=delete" method="POST">
                                <input name="juego" class="boton-imagen" value="<%=element.id%>">
                                <button type="submit" class="carrito-container__btn">Quitar</button>
                            </form>
                        </div>
                    </div>
                </div>

           <% })%>
            
        </div>

        <div class="carrito-container__resumen">
            <div class="carrito-container__resumen-dato">
                <span>Resumen del pedido</span>
            </div>
            <p>Cantidad: <span><%=user.games_shooping_cart.length%></span></p>

            <p>Envio: <span>$20</span></p>
            <% let contador = 0 %> 
            <%user.games_shooping_cart.forEach((element)=>{%>
              <%contador += Number(element.price)%>
                <% })%>
            <p>Total del pedido: <span>$<%=contador%></span></p>
                <div class="carrito-container__btn-container">
                    <button onclick="window.location.href='/user/buyForm'" class="carrito-container__btn">Comprar</button>
                </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
 
    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>