<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Perfil de usuario'}) %>
<body>
    
    <!-- Header -->

    <%- include('partials/header') %>
    <div class="container-user">

        <div class="container-profile">
        
            <aside class="container-profile-aside">
                <ul type="none" >
                    <li id="general">General</li>
                    <li id="games">Tus juegos</li>
                    <li id="pays">Historial de compras</li>
                    <li id="settings">Configuración</li>
                </ul>
            </aside>
    
            <div class="container-profile-general active-flex">
    
                <div class="container-profile-general-info">
    
                        <h1>Información General</h1>
    
                            <ul class="container-profile-general-info--list" type="none">
                                <li>Fecha de nacimiento: <span><%= user.birth_date %></span></li>
                                <li>Email: <span><%= user.email %></span></li>
                                <li>Dirección: <span><%= user.address%></span></li>
                                <li>Género: <span><%= user.gender %></span></li>
                            </ul>

                        <a href="/user/edit/<%= user.id %>"><button type="button" class="container-profile-button mt-5">Editar datos</button></a>
    
                </div>

                <div class="container-profile-general-separation"> ll </div>
    
                <div class="container-profile-general-profile">
                    <div>
                        <img src="/img/uploads/avatars/avatar.jpg" alt="" id="avatar">
                        <svg id="svg" class="svg-avatar inactiveUserProfile" xmlns="http://www.w3.org/2000/svg" width="320" height="320" viewBox="0 0 320 320"><defs><style>.a{fill:#707070;}.b{fill:#fff;font-size:43px;font-family:SegoeUI, Segoe UI;}</style></defs><circle class="a" cx="160" cy="160" r="160"/><text class="b" transform="translate(81 178)"><tspan x="0" y="0">Cambiar</tspan></text></svg>
                        <input type="file" id="avatar" style="visibility: hidden;">
                    </div>
                    <h2 class="profile-name"><%= user.first_name %> <%= user.last_name %></h2>
                    <h3 class="profile-username"><%= user.username %></h3>
                    <h2 class="profile-pass">Contraseña:</h2>
                    <h3 class="profile-pass">....................<i class="fas fa-pencil-alt"></i></h3>
                    <a href="/user/logout" class="profile-session"><p>Cerrar sesión</p></a>
                </div>
    
            </div>

            <div class="container-profile-games inactiveUserProfile">

               <h1>Tus juegos</h1>
            
               <input class="container-profile-games-input" type="text" id="games" placeholder="Buscá en tus juegos...">

               <div class="container-profile-games-list">
                    <% if(user.user_sales.length != 0){%>

                        <%  user.user_sales.forEach((element)=> {%>

                            <div class="container-profile-games-single">
                                <% if (element.status_transaction == 'Sold') { %>
                                    <i class="fas fa-info-circle games-single-detailInfo"></i>
                                <% } else { %>
                                    <a href="/product/edit/<%= element.games.id %>"><i class="far fa-edit games-single-edit"></i></a>
                                    <i class="far fa-trash-alt games-single-delete"></i>
                                    <form action="/product/detail/<%= element.games.id %>?_method=delete" method="POST" class="games-delete-form inactive-games-delete-form">
                                        <h2>¿Estas seguro de querer eliminar este producto?</h1>
                                        <h3>Esta acción es permanente y el juego no podrá recuperarse</h2>

                                        <button type="submit" class="games-delete-form-button1">Confirmar</button>
                                        <button type="button" class="games-delete-form-button2">Cancelar</button>
                                    </form>
                                <% } %>
                                <a href="/product/detail/<%= element.games.id %>">
                                <div class="container-profile-games-single-img">
                                <img src="../../img/uploads/productsImage/<%=element.games.images[0].img_url%>" alt=""> 
                                </div>
                                </a>

                                <div class="container-profile-games-single-info">
        
                                    <h2><%= element.games.title %></h2>
                                    <div class="container-profile-games-single-info-sub">
                                        <h4> <%=element.price %>$</h4>
                                        <h3><i class="fas fa-desktop"></i></h3> 
                                        <span>Estatus: <%= element.status_transaction %> </span>       

                                    </div>

                                </div>
        
                            </div>

                        <% })%>

                    <% }%>

                    <div class="container-profile-games-add">
                        <a href="/product">
                            <h2>Vender otro juego</h2>
                            <img src="/img/Logos/Add-game.png" alt=""> 
                        </a>
                    </div>

                </div>

                <div class="games-detailInfo inactive-games-detailInfo">
                    <i class="fas fa-times-circle"></i>
                    <h1>Title</h1>
                    <h2>Comprado por Joaco</h2>
                    <h3>Fecha: Hoy</h3>
                    <h3>Tipo de delivery: No se</h3>
                </div>
                
                <div class="container-games-info">
                    <h2>Items en carrito: <%=user.user_sales.length%></h2>
                    <h3><a href="/user/cart/<%=user.id%>">Ir a tu carrito de compras</a></h3>
                </div>

            </div>

            <div class="container-profile-pays inactiveUserProfile">
                
                <h1>Historial de transacciones</h1>

                <div class="row pays-first-row">
                    <div class="col-2">
                        <h2>Fecha</h2>
                    </div>
                    <div class="col-3">
                        <h2>Articulo(s)</h2>
                    </div>
                    <div class="col-3">
                        <h2>Entrega</h2>
                    </div>
                    <div class="col-2">
                        <h2>Vendedor</h2>
                    </div>
                    <div class="col-2">
                        <h2>Precio</h2>
                    </div>
                </div>

                <div class="container-profile-pays-transaction-wrapper">
                    <%  user.transactions.forEach((element)=> {%>
                        <div class="row pays-rows">
                            <div class="col-2">
                                <h3><%=element.createdAt.getDate()%>/<%= element.createdAt.getMonth()+1%>/<%= element.createdAt.getFullYear()%></h3>
                            </div>
                            <%   if( element.transactions_games.length > 1){%> 
                                <div class="col-2">
                                    <h3><%=element.transactions_games.length%> Juegos Comprados</h3>
                                </div>
                                <% } else {%>
                                    <div class="col-2">
                                        <h3><%=element.transactions_games[0].title%></h3>
                                    </div>

                                    <%  }%>
                                <div class="col-4">
                                <h3><%=element.delivery%></h3>
                            </div>
                            <div class="col-2">
                                <h3>Hose Of Games</h3>
                            </div>
                            <div class="col-2">
                                <h3>$<%=element.total_cost%>  </h3>
                            </div>
                        </div>
                    <% })%>

                    <%  user.purchases.forEach((element)=> {%>
                        <div class="row pays-rows">
                            <div class="col-2">
                                <h3><%=element.createdAt.getDate()%>/<%= element.createdAt.getMonth()+1%>/<%= element.createdAt.getFullYear()%></h3>
                            </div>
                                <div class="col-2">
                                    <h3><%=element.games.title%></h3>
                                </div>
                                <div class="col-4">
                                <h3><%=element.delivery_type%></h3>
                            </div>
                            <div class="col-2">
                                <h3><%=element.users_sellers.username%></h3>
                            </div>
                            <div class="col-2">
                                <h3>$<%=element.price%>  </h3>
                            </div>
                        </div>
                    <% })%>

                    
    
                    
    

                </div>

            </div>

            <div class="container-profile-settings inactiveUserProfile">

                <h1>Configuración de cuenta</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <form action="/user/delete/<%= user.id %>" method="POST">
                    
                    <button type="submit" class="container-profile-button-logout mt-5">Dar de baja tu cuenta</button>
                    <h3> Esta accion borrará tu cuenta permamentemente y no habrá forma de recuperarla</h3>

                </form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
    
        </div>

    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Scripts -->
    <script src="/scripts/userProfile.js"></script>
    <%- include('partials/scripts') %>
</body>
</html>