<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Formulario de Registro'}) %>
<body>
    
    <!-- Header -->

    <%- include('partials/header') %>

    <div onclick="containerUserHide()" class="container container-profile">
        <h1>Hola <%= usuario.first_name %></h1>
    </div>

    <div class="container container-profile">
        <div class="profile-avatar-container">
            <img class="profile-avatar" src="/img/uploads/avatars/<%= usuario.avatar %>" alt="">
        </div>
        <h2 class="profile-subtitle">Nombre: <%= usuario.first_name %></h2>
        <h2 class="profile-subtitle">Apellido: <%= usuario.last_name %></h2>
        <h2 class="profile-subtitle">Nombre de Usuario: <%= usuario.username %></h2>
    </div>

    <div class="container container-profile">
        <h2 class="profile-subtitle">Email: <%= usuario.email %></h2>
        <h2 class="profile-subtitle">Fecha de nacimiento: <%= usuario.birth_date %></h2>
        <h2 class="profile-subtitle">Dirección: <%= usuario.address %></h2>
    </div>
    <div class="container container-profile">
        <button class="profile-button" type="button"><a href="/user/edit/<%= usuario.id %>">Editar Información</a></button>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Scripts -->
    <%- include('partials/scripts') %>
</body>
</html>