<header class="header">
    <nav class="header-nav">

        <div class="hamburguer-menu">
            <div class="hamburguer-menu__line hamburguer-menu__line--1"></div>
            <div class="hamburguer-menu__line hamburguer-menu__line--2"></div>
            <div class="hamburguer-menu__line hamburguer-menu__line--3"></div>
        </div>

        <div class="header-nav__left">
            <div class="header-nav__logo">
                <a href="/"><img src="../../img/House_of_GamesLOGO.png" alt="Logo-image"></a>
            </div>
            <!-- Nav Items Left -->
            <ul class="header-nav__list">
                <li class="header-nav__item header-nav__item--focus">
                    <button onclick="myFunction()" class="header-nav__dropdown-button">JUEGOS<i class="fas fa-caret-down header-nav__dropdown-icon"></i></button>
                    <ul id="myDropdown" class="header-nav__sub-list">
                        <li class="header-nav__sub-item"><a href="/product">TODOS LOS JUEGOS</a></li>
                        <% locals.localAside.categories.forEach((element)=>{%>
                            <li class="header-nav__sub-item"><a href="/product/<%=element.id %>"><%= element.name %></a></li>
                       <% }) %> 
                    </ul>
                </li>
                <li class="header-nav__item"><a href="/user/community">Comunidad</a></li>
                <li class="header-nav__item"><a href="#">Acerca de</a></li>
            </ul>
        </div>
        <div class="header-nav__right">
            <!-- Nav Items Right -->
                <form action="/product/search<%= (typeof consulta != 'undefined') ? '?buscar=' + consulta : null %>" class="header-nav__form" method="GET">
                    <input class="search-input" type="text" name="buscar" id="" placeholder="Buscar productos, marcas y más">
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <% if(locals.localUser != undefined){%>
                <div class="nav__right-profile-options">
                    <div class="nav__right-profile-options-imgCont">
                        <img onclick="myFunction3()" src="../../../img/uploads/avatars/<%=locals.localUser.avatar%>" alt="imagen-user">
                    </div>
                    <div class="nav__right-profile-dropdown">
                        <ul type="none">
                            <li class="nav__right-profile-dropdown-single">
                                <a href="/user/profile/<%=locals.localUser.id%>" class="nav__icons"><i class="far fa-address-card"></i> Ir a tu perfil</a>
                            </li>
                            <li class="nav__right-profile-dropdown-single">
                                <a href="/user/cart/<%=locals.localUser.id%>" class="nav__icons"><i class="fas fa-shopping-cart"></i> Ver tu carrito</a>
                            </li>

                            <li id="profile-dropdown-5" class="nav__right-profile-dropdown-single">
                                <a href="/user/logout" class="nav__icons"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <% }else{%>
                    <div class="nav__right-profile-options">
                        <ul type="none" class="nav__right-ulProfileOptions">
                            <li class="nav__right-profile-dropdown-single">
                                <a href="/user/login" class="nav__icons"><i class="fa fa-sign-in"></i> Iniciar sesión</a>
                            </li>
                            <li class="nav__right-profile-dropdown-single">
                                <a href="/user/register" class="nav__icons"><i class="fas fa-user-plus"></i> Registrarse</a>
                            </li>
                        </ul>
                    </div>

                <% }%>
                <ul style='display: none;'>
                    <li class="header-nav__language-item">
                        <button onclick="myFunction2()" class="header-nav__language-dropdown">IDIOMA<i class="fas fa-caret-down header-nav__language-dropdown-icon"></i></button>
                        <ul id="drop-cont2" class="header-nav__language-sub-list">
                            <li class="header-nav__language-sub-item"><a href="#">INGLES</a></li>
                            <li class="header-nav__language-sub-item"><a href="#">PORTUGUES</a></li>
                            <li class="header-nav__language-sub-item"><a href="#">ESPAÑOL</a></li>
                            <li class="header-nav__language-sub-item"><a href="#">FRANCES</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </nav>
</header>